body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

simple-analytics {
  display: flex;
}

h1 {
  margin: 8px 0 0 0;
}
h5 {
  margin: 0 0 16px 0;
}
input {
  padding: 10px;
  border: solid 1px #d6d6d6;
}
button:hover {
  background: rgb(238, 238, 238);
}
button.warn {
  background: rgb(255, 55, 55);
  color: white;
}
button {
  padding: 10px;
  border: solid 1px #d6d6d6;
  background: #ebebeb;
  cursor: pointer;
}
.configuration {
  display: flex;
}
.spacer {
  flex: 1 1 auto;
}

sa-graph {
  display: block;
  width: 600px;
  height: 400px;
}

sa-event-view {
  padding: 16px 32px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.navigation-list {
  padding: 8px 0;
  box-sizing: border-box;
  display: flex;
  border-right: solid 1px #ebebeb;
  flex-direction: column;
  height: 100%;
}

.navigation-list > div:hover {
  background: #fafafa;
  cursor: pointer;
}
.navigation-list > div {
  padding: 8px 32px;
}
